<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>

<article class="about">
	<h2>About me</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac nunc nibh. Maecenas in enim non nulla vehicula feugiat id ut velit. Nulla rutrum mollis justo eget mollis. Proin quis lorem varius, viverra purus id, tincidunt turpis. Sed fringilla in enim sed sagittis. Aliquam quis felis sit amet arcu tincidunt molestie at sit amet risus. Quisque est erat, mollis sit amet urna id, porta iaculis nulla. Aenean erat neque, cursus eget ornare quis, mollis sed nisi. Mauris sed lectus a lorem pellentesque commodo eu et justo. Fusce ut risus eget eros rhoncus viverra. Proin porttitor enim a nisl varius ullamcorper. Vivamus et justo erat.
	</p>
</article>